<div class="container center-content">
  <%= form_for @user, url: users_path, html: { class: "row" } do |f| %>
    <% if @user.errors.any? %>
      <div class="alert alert-danger col-md-4 offset-md-4" role="alert">
        <h2><%= pluralize(@user.errors.count, "erro") %> <%= "encontrado".pluralize(@user.errors.count)%>:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <h4 class="col-md-6 offset-md-3 text-center"> Cadastro </h4>
    <div class="form-group col-md-6 offset-md-3">
      <%= f.label :name, 'Nome' %>
      <%= f.text_field :name , class: "form-control" %>
    </div>
    <div class="form-group col-md-6 offset-md-3">
      <%= f.label :nickname, 'Apelido' %>
      <%= f.text_field :nickname , class: "form-control" %>
    </div>
    <div class="form-group col-md-6 offset-md-3">
      <%= f.label :phone, 'Telefone' %>
      <%= f.telephone_field :phone , class: "form-control" %>
    </div>
    <div class="form-group col-md-6 offset-md-3">
      <%= f.label :password, 'Senha' %>
      <%= f.password_field :password , class: "form-control" %>
    </div>
    <div class="col-md-2 offset-md-3">
      <%= f.submit "Cadastrar", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
