<div class="container">
  <%= form_with(model: book, local: true) do |form| %>
    <div class="row">
      <% if book.errors.any? %>
        <div class="alert alert-danger col-md-4 offset-md-4" role="alert">
          <h2><%= pluralize(book.errors.count, "erro") %> <%= "encontrado".pluralize(book.errors.count)%>:</h2>

          <ul>
          <% book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group col-md-6 offset-md-3">
        <%= form.label :title, 'Título' %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group col-md-6 offset-md-3">
        <%= form.label :author, 'Autor' %>
        <%= form.text_field :author, class: "form-control" %>
      </div>

      <div class="form-group col-md-6 offset-md-3">
        <%= form.label :publication_date, 'Data de Publicação' %>
        <%= form.date_select :publication_date, class: "form-control" %>
      </div>

      <div class="form-group col-md-6 offset-md-3">
        <%= form.label :code, 'Código' %>
        <%= form.text_field :code, class: "form-control" %>
      </div>

      <div class="form-group col-md-6 offset-md-3">
        <%= form.label :genre, 'Gênero' %>
        <%= select("book", "genre", [["Conto", "CONTO"], ["Ensaio", "ENSAIO"], ["Epopeia", "EPOPEIA"], ["Romance", "ROMANCE"], ["Novela", "NOVELA"]]) %>
      </div>

      <div class="form-group col-md-6 offset-md-3">
        <%= form.submit 'Cadastrar livro', class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
