<div class="container" style="height: 100%;">
  <div class="section-title">
    <h1>Detalhes do livro</h1>
  </div>
  <div class="row col-md-12" style="align-items: center;">
    <div class="card offset-md-3 col-md-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Título:</strong> <%= @book.title %></li>
        <li class="list-group-item"><strong>Autor:</strong><%= @book.author %></li>
        <li class="list-group-item"><strong>Data de publicação:</strong><%= @book.publication_date %></li>
        <li class="list-group-item"><strong>Código:</strong><%= @book.code %></li>
        <li class="list-group-item"><strong>Gênero:</strong><%= @book.genre %></li>
      </ul>
    </div>
  </div>
  <div class="section-title">
    <h1> Resenhas</h1>
  </div>
  <div class="card-deck">
    <% @book.reviews.each do |review| %>
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title"><%= review.title %></h5>
        <p class="card-text"><%= review.body %></p>
        <%= link_to "Resenha de #{review.user.nickname}", user_path(review.user) %>
      </div>
    </div>
    <% end %>
  </div>
</div>
